#warning {
  color: red;
  opacity: 1;
}

.hide {
  display: none;
}
#not-found {
  color: red;
}
#form div,
#form label {
  margin: 10px 0;
}
.header {
  margin: 10px 20px;
}
#form {
  width: 100%;
}
/*  */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,300);
body {
  width: 100%;
  height: 100%;
  background-color: #263238;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  color: #fff;
}
.wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.widget-container {
  width: 600px;
  height: 400px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #313e45;
  border-radius: 25px;
  /*   border: 5px solid #eceff1; */
  margin: 0 auto;
}

/* Widget 4 Quarter Division here */

.top-left {
  padding: 10px;
  grid-column: 1/2;
  grid-row: 1/2;

  display: inline-block;
}

.top-right {
  padding: 10px;
  grid-column: 2/3;
  grid-row: 1/2;
}

.bottom-left {
  padding: 10px;
  grid-column: 1/2;
  grid-row: 2/3;
}

.bottom-right {
  display: flex;
  padding: 10px;
  grid-column: 2/3;
  grid-row: 2/3;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

/* Top-left Div CSS */

#city {
  font-weight: 900;
  font-size: 25px;
}
#city:first-letter {
  text-transform: capitalize;
}
#day {
  font-weight: 700;
  font-size: 25px;
  margin-top: 18px;
}

#date {
  font-weight: 500;
  font-size: 20px;
  margin-top: 4px;
}

#time {
  font-weight: 400;
  font-size: 18px;
  margin-top: 8px;
}

#codepen-link {
  font-weight: 400;
  font-size: 12px;
  margin-top: 20px;
}

.top-left > a {
  text-decoration: none;
  color: white;
}

.top-left > a:hover {
  color: #b0bec5;
}

/* Top-Right Div CSS */

#weather-status {
  font-size: 18px;
  font-weight: 300;
  text-align: center;
  margin: 0 auto;
}

.top-right > img {
  width: 120px;
  height: 120px;
  display: block;
  margin: 15px auto 0 auto;
}

/* Horizontal-Half-divider */

.horizontal-half-divider {
  width: 100%;
  height: 3px;
  margin-top: -5px;
  background-color: #263238;
}

.vertical-half-divider {
  width: 3px;
  position: absolute;
  height: 167px;
  background-color: #263238;
  float: right;
  display: inline-block;
  padding: 0;
}

/* Bottom-left CSS */

#temperature,
#celsius,
#temp-divider,
#fahrenheit {
  display: inline;
  vertical-align: middle;
}

#temperature {
  font-size: 60px;
  font-weight: 800;
  margin-right: 5px;
}

#celsius {
  margin-right: 10px;
}

#fahrenheit {
  margin-right: 5px;
  color: #b0bec5;
}

#celsius,
#temp-divider,
#fahrenheit {
  font-size: 30px;
  font-weight: 800;
}

#celsius:hover,
#fahrenheit:hover {
  cursor: pointer;
}

/* Bottom-Right CSS */

.other-details-key {
  float: left;
  font-size: 16px;
  font-weight: 300;
}

.other-details-values {
  float: left;
  font-size: 16px;
  font-weight: 400;
  margin-left: 40px;
}

.watermark-link {
  text-decoration: none;
  color: #b0bec5;
}

.watermark-link:hover {
  color: white;
  text-decoration: none;
}

.watermark {
  margin-top: 10px;
  text-align: center;
  font-weight: 400;
}
